<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Flask Boilerplate - {{ title }}</title>
    {% else %}
        <title>Flask Boilerplate</title>
    {% endif %}
</head>
<body>
{% include 'partials/_navbar.html' %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-12">
            {% include 'partials/_flash_messages.html' %}
            {% block content %}{% endblock %}
        </div>
    </div>
</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{{ bootstrap.load_js() }}

</body>
</html>
